<o-form #oForm fxLayout="column" show-header="yes" label-header="sales_budgets" header-actions="R;U;D" entity="ESalesBudgets"
  service="ESalesBudgets" keys="idSalesBudget">

  <o-row layout-gap="14px" layout-padding-vertical>
    <o-combo fxFlex="50" attr="COMPANY" value-column="id" columns="id;name" visible-columns="name" required enabled="no"
      entity="ECompanys"></o-combo>
    <o-combo fxFlex="50" attr="DIVISION" value-column="id" columns="id;name" visible-columns="name" entity="EDivision"></o-combo>
  </o-row>

  <o-row layout-gap="14px" layout-padding-vertical>
    <o-text-input fxFlex="50" attr="SALES_BUDGET_ID" required enabled="no"></o-text-input>
    <o-row fxFlex="50" layout-gap="14px">
      <o-combo fxFlex="50%" attr="VERSION" label="VERSION" value-column="version" columns="version" entity="EVersionsSalesBudgets"></o-combo>
      <o-text-input fxFlex="50%" attr="PROFORMA" enabled="no"></o-text-input>
    </o-row>

  </o-row>

  <o-row layout-gap="14px" layout-padding-vertical>
    <o-list-picker fxFlex="50" attr="CUSTOMER_ID" value-column="id" columns="id;name" visible-columns="name" entity="ECustomer"
      enabled="no"></o-list-picker>
    <o-row fxFlex="50" layout-gap="14px">
      <o-combo fxFlex="30" attr="BUSINESS_GROUP" value-column="id" columns="id;name" visible-columns="name" entity="EBusinessGroup"></o-combo>
      <o-checkbox fxFlex="20" attr="CONDITIONS_APPLICANT" label="CONDITIONS_APPLICANT" enabled="no"></o-checkbox>
    </o-row>
  </o-row>

  <o-row layout-gap="14px" layout-padding-vertical>
    <o-list-picker fxFlex="50" attr="POTENCIAL" query-on-init="no" query-on-bind="no" enabled="no"></o-list-picker>
    <o-list-picker fxFlex="50" attr="Cliente facturación" value-column="id" columns="id;name" visible-columns="name"
      enabled="no"></o-list-picker>
  </o-row>
  <o-row layout-gap="14px" layout-padding-vertical>
    <o-row fxFlex="50" layout-gap="14px">
      <o-combo fxFlex="50" attr="SALESMAN" entity="ESalesman" value-column="id" columns="id;name;surname"
        visible-columns="name;surname" separator=","></o-combo>
      <o-currency-input fxFlex="50" attr="COMMISION" decimal-digits="2" min-decimal-digits="2" max-decimal-digits="2"
        enabled="no"></o-currency-input>
    </o-row>
    <o-combo fxFlex="50" attr="TYPE" query-on-init="no" query-on-bind="no"></o-combo>
  </o-row>

  <o-row layout-gap="14px" layout-padding-vertical>
    <o-row fxFlex="50" layout-gap="14px">
      <o-currency-input fxFlex="50" attr="TOTALBASE" decimal-digits="2" min-decimal-digits="2" max-decimal-digits="2 "
        enabled="no"></o-currency-input>
      <o-currency-input fxFlex="50" attr="TOTAL" decimal-digits="2" min-decimal-digits="2" max-decimal-digits="2"
        enabled="no"></o-currency-input>
    </o-row>
    <o-row fxFlex="50" layout-gap="14px">
      <o-date-input fxFlex="50" attr="DATE_DOCUMENT"></o-date-input>
      <o-checkbox fxFlex="50" attr="ACCEPTED"></o-checkbox>
    </o-row>
  </o-row>

  <o-row layout-gap="14px" layout-padding-vertical>
    <o-row fxFlex="50" layout-gap="14px">
      <o-currency-input attr="MINIMUN_AMOUNT" decimal-digits="2" min-decimal-digits="2" max-decimal-digits="2" enabled="no"
        fxFlex="50"></o-currency-input>
      <div fxFlex="50"></div>
    </o-row>
    <o-row fxFlex="50" layout-gap="14px">
      <div></div>
      <div></div>
    </o-row>
  </o-row>

  <mat-tab-group>
    <mat-tab [label]="'BASIC' | oTranslate">
      <o-column title="FISCAL_ADDRESS">
        <o-row layout-gap="14px" layout-padding-vertical>
          <o-text-input fxFlex="75" attr="FISCAL_ADDRESS" enabled="no"></o-text-input>
          <o-text-input fxFlex="25" attr="FISCAL_CP" label="CP" enabled="no"></o-text-input>
        </o-row>
        <o-row layout-gap="14px" layout-padding-top>
          <o-combo fxFlex attr="FISCAL_COUNTRY" label="COUNTRY" value-column="id" columns="id;name" visible-columns="name"
            entity="ECountries" enabled="no"></o-combo>
          <o-combo fxFlex attr="FISCAL_PROVINCE" label="PROVINCE" value-column="id" columns="id;nm" visible-columns="nm"
            entity="EProvinces" enabled="no"></o-combo>
          <o-text-input fxFlex attr="FISCAL_LOCALITY" label="LOCALITY" enabled="no"></o-text-input>
        </o-row>
      </o-column>

      <o-column title="CLIENT_DATA">
        <o-text-input attr="CLIENT_ADDRESS1" label="ADDRESS" layout-padding-vertical></o-text-input>
        <o-row layout-gap="14px" layout-padding-vertical>
          <o-text-input fxFlex="75" attr="CLIENT_ADDRESS2" label="ADDRESS"></o-text-input>
          <o-text-input fxFlex="25" attr="CLIENT_CP" label="CP"></o-text-input>
        </o-row>

        <o-row layout-gap="14px" layout-padding-vertical>
          <o-combo fxFlex attr="CLIENT_COUNTRY" label="COUNTRY" value-column="id" columns="id;name" visible-columns="name"
            entity="ECountries" clear-button="yes"></o-combo>
          <o-combo fxFlex attr="CLIENT_PROVINCE" label="PROVINCE" value-column="id" columns="id;nm" visible-columns="nm"
            entity="EProvinces" clear-button="yes"></o-combo>
          <o-text-input fxFlex attr="CLIENT_LOCALITY" label="LOCALITY"></o-text-input>
        </o-row>

        <o-list-picker attr="CLIENT_CONTACT" value-column="id" columns="id;name;surname" visible-columns="name;surname"
          separator="," entity="EContact" fxFlex="0 1 calc(25% - 14px)" layout-padding-top></o-list-picker>
      </o-column>
      <o-column title="TRANSPORTATION_DATA">
        <o-row layout-gap="14px" layout-padding-vertical>
          <o-combo fxFlex="50" attr="CARRIER_TYPE" value-column="id" columns="id;name" visible-columns="name" separator=","
            clear-button="yes" entity="ECarrierType"></o-combo>
          <o-combo fxFlex="50" attr="CONSIGNMENT_MODEL" value-column="id" columns="id;name" visible-columns="name"
            clear-button="yes" entity="ETransportType"></o-combo>
        </o-row>

        <o-row layout-gap="14px" layout-padding-vertical>
          <o-list-picker fxFlex="50" attr="CARRIER" value-column="id" columns="id;name;surname" visible-columns="name;surname"
            separator="," entity="ECarrier"></o-list-picker>
          <o-row fxFlex="50" layout-gap="14px">
            <o-text-input fxFlex="50" attr="PLATE"></o-text-input>
            <o-text-input fxFlex="50" attr="CARRIER_REF"></o-text-input>
          </o-row>
        </o-row>
        <o-row layout-padding-top layout-gap="14px" layout-padding-vertical>
          <o-row fxFlex="50" layout-gap="14px">
            <o-text-input fxFlex="50" attr="KILOS" data="0"></o-text-input>
            <o-integer-input fxFlex="50" attr="M3" data="0"></o-integer-input>
          </o-row>
          <o-row fxFlex="50" layout-gap="14px">
            <o-integer-input fxFlex="50" attr="PACKAGES" data="0"></o-integer-input>
            <o-integer-input fxFlex="50" attr="PALLETS" data="0"></o-integer-input>
          </o-row>
        </o-row>
      </o-column>
      <o-row title="INCOTERM" layout-gap="14px">
        <o-list-picker fxFlex="50" attr="INCOTERM" value-column="incoterm_id" columns="incoterm_id;incoterm_description;incoterm_code"
          visible-columns="incoterm_code;incoterm_description" separator=" -  " entity="EIncoterm"></o-list-picker>
        <o-text-input fxFlex="50" attr="PLACE_DELIVERY"></o-text-input>
      </o-row>
      <o-row layout-gap="14px" layout-padding-vertical>
        <o-textarea-input fxFlex="50" attr="CUSTOMER_OFFER"></o-textarea-input>
        <o-textarea-input fxFlex="50" attr="OBSERVATIONS"></o-textarea-input>
      </o-row>
    </mat-tab>
    <mat-tab [label]="'LINES' | oTranslate">
      <div>
        <o-row layout-gap="14px" layout-padding-vertical>
          <o-column fxFlex="50" title="DISCOUNTS">
            <o-combo fxFlex attr="GENERAL_DISCOUNT" query-on-init="no" query-on-bind="no"></o-combo>
            <o-row layout-gap="14px">
              <o-checkbox fxFlex attr="defineTotalAmount" label="DEFINE_TOTAL_AMOUNT"></o-checkbox>
              <o-currency-input fxFlex attr="totalAmountDefined" label="TOTAL_AMOUNT_DEFINED" enabled="no"></o-currency-input>
            </o-row>
          </o-column>
          <o-column fxFlex="50">
            <o-row fxFlex title="MARGINS" layout-gap="14px">
              <o-percent-input fxFlex="50" attr="MARGINAGENCY" decimal-digits="2"></o-percent-input>
              <o-percent-input fxFlex="50" attr="MARGINTRANSATION" decimal-digits="2"></o-percent-input>
            </o-row>

            <o-row fxFlex title="Almacen" layout-gap="14px">
              <o-combo attr="STORAGE" value-column="COD_ALMACEN" columns="COD_ALMACEN;DESC_ALMACEN" visible-columns="COD_ALMACEN;DESC_ALMACEN"
                separator=" - " entity="EStorage" fxFlex="50"></o-combo>
              <o-combo attr="SUBSTORAGE" value-column="COD_SUBALMACEN" columns="COD_SUBALMACEN;DESC_SUBALMACEN"
                visible-columns="COD_SUBALMACEN;DESC_SUBALMACEN" separator=" - " entity="ESubStorage" fxFlex="50"></o-combo>
            </o-row>
          </o-column>
        </o-row>
        <o-table attr="accounts" title="Artículos" service="ELines" entity="ELines" query-on-init="no" columns="ID;COD_ARTICULO;DESCRIPCION;CANTIDAD;CANTIDAD_REAL;TARIFA;PRECIO_UNITARIO;IMPORTE_UNITARIO_NETO;IMPORTE_BRUTO;IMPORTE_NETO;BASE_IMPONIBLE;IMPORTE_TOTAL"
          visible-columns="COD_ARTICULO;DESCRIPCION;CANTIDAD;CANTIDAD_REAL;PRECIO_UNITARIO;IMPORTE_UNITARIO_NETO;IMPORTE_BRUTO;IMPORTE_NETO;BASE_IMPONIBLE;IMPORTE_TOTAL"
          row-height="medium">
          <o-table-columns-filter columns="COD_ARTICULO;DESCRIPCION;CANTIDAD;CANTIDAD_REAL;PRECIO_UNITARIO;IMPORTE_UNITARIO_NETO;IMPORTE_BRUTO;IMPORTE_NETO;BASE_IMPONIBLE;IMPORTE_TOTAL"></o-table-columns-filter>
          <o-table-column attr="COD_ARTICULO"></o-table-column>
          <o-table-column attr="CANTIDAD" type="real"></o-table-column>
          <o-table-column attr="CANTIDAD_REAL" type="real"></o-table-column>
          <o-table-column attr="PRECIO_UNITARIO" type="currency" currency-symbol="€" currency-symbol-position="right"></o-table-column>
          <o-table-column attr="IMPORTE_UNITARIO_NETO" type="currency" currency-symbol="€" currency-symbol-position="right"></o-table-column>
          <o-table-column attr="IMPORTE_BRUTO" type="currency" currency-symbol="€" currency-symbol-position="right"></o-table-column>
          <o-table-column attr="BASE_IMPONIBLE" type="currency" currency-symbol="€" currency-symbol-position="right"></o-table-column>
          <o-table-column attr="IMPORTE_TOTAL" type="currency" currency-symbol="€" currency-symbol-position="right"></o-table-column>
          <o-table-column attr="IMPORTE_NETO" type="currency" currency-symbol="€" currency-symbol-position="right"></o-table-column>
        </o-table>

      </div>
    </mat-tab>
  </mat-tab-group>

</o-form>