<h2>
  What is Ontimize Web Appearance?
</h2>
<p class="body-text">
  Ontimize Web Appearance is web application that shows a form configured with three different appearances supported by
  Angular Material:
</p>
<ul>
  <li><b>Appearance standard</b>: It shows the input box with an underline underneath it.</li>
  <li><b>Appearance fill</b>: It displays the form field with a filled background box in addition to the underline.</li>
  <li><b>Appearance outline</b>: It shows the form field with a border all the way around, not just an underline.</li>
</ul>

<div layout-padding>
  <h2>Keep up to date</h2>
  <p class="body-text" style="margin-bottom:0px;">
    Please refer to our changelog for up-to-date listings of all improvements and breaking changes.
  </p>

  <div fxLayout="row" fxLayoutAlign="center">
    <a class="vertical-padding-8 changelog" href="https://github.com/OntimizeWeb/ontimize-web-ngx-appearance/blob/master/CHANGELOG.md"
      target="_blank">
      <div layout-padding fxLayout="row" fxLayoutAlign="center">
        <mat-icon class="mat-48">access_time</mat-icon>
        <span>CHANGELOG</span>
      </div>
    </a>
  </div>
</div>

<mat-divider></mat-divider>

<div layout-padding>
  <h2>Related topics</h2>
  <p class="body-text">
    Here are some interesting reading topics that can help you better understand how to develop with Ontimize Web.
  </p>



  <div fxLayout="row" fxLayoutAlign="start center">
    <h5>Form field appearance variants in Material Angular</h5>
    <a href="https://material.angular.io/components/form-field/overview#form-field-appearance-variants" target="_blank">
      <mat-icon>launch</mat-icon>
    </a>
  </div>
  <p class="body-text">
    The mat-form-field supports differents appearance variants which can be set via the appearance input.
  </p>
  <div fxLayout="row" fxLayoutAlign="start center">
    <h5>Theming your custom components in Material Angular</h5>
    <a href="https://v8.material.angular.io/guide/theming-your-components" target="_blank">
      <mat-icon>launch</mat-icon>
    </a>
  </div>
  <p class="body-text">
    In order to style your own components with Angular Material's tooling, the component's styles must be defined with
    Sass.
  </p>
  <div fxLayout="row" fxLayoutAlign="start center">
    <h5>Lite Theme in Ontimize Web</h5>
    <a href="https://ontimizeweb.github.io/docs/customize/lite/" target="_blank">
      <mat-icon>launch</mat-icon>
    </a>
  </div>
  <p class="body-text">
    Guide to desing your own components with Lite Theme.
  </p>